<!-- 
- ref for github nuget feed auth: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry#authenticating-to-github-packages
- ref for nuget auth: https://learn.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds#credentials-in-environment-variables
- git access tokens: https://github.com/settings/personal-access-tokens
- powershell: [Environment]::SetEnvironmentVariable('NuGetPackageSourceCredentials_github_sdcondon', 'Username=sdcondon;Password=TOKEN', 'User')
- TODO: script me!
-->
<configuration>
	<config>
		<add key="defaultPushSource" value="https://nuget.pkg.github.com/sdcondon/index.json" />
	</config>
	<packageSources>
		<add key="github_sdcondon" value="https://nuget.pkg.github.com/sdcondon/index.json" />
	</packageSources>
</configuration>
